.empty {
  margin-left: 50px;
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
}

.btn {
  padding: 15px;
  margin: 10px 15px;
  background-color: #ffd814;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #FFA41C;
}

.cart-container {
  height: 100vh;
}

.cartproduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
}

.footer {
  position: fixed;
  background-color: #ffd814;
  width: 100%;
  bottom: 0;
  height: 50px;
  align-content: center;
}

.footer p {
  margin-left: 40px;
  font-weight: 700;
}