.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.product-image {
  object-fit: contain;
  height: 200px;
}

.product-details {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.button {
  padding: 10px;
  background-color: #ffd814;
  border: 0px;
  border-radius: 20px;
  width: 70px;
  cursor: pointer;
  font-size: 17px;
}

.button:hover {
  background-color: #FFA41C;
}

.text {
  margin: 5px;
  font-weight: 600;
}