* {
  margin: 0;
  padding: 0;
}

/* 

.navbar {
  background-color: aqua;
  height: 40px;
  text-align: center;
  align-content: center;
}




li {
  list-style-type: none;
}

nav ul {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 40px;
} */